@font-face {
  @font-face {
font-family: 'sf_ui_displayregular';
src: url('sf-ui-display-regular-webfont.woff2') format('woff2'),
 url('sf-ui-display-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;

}}

.owl-carousel {
  position: relative;
  height: 100%;
}
.owl-carousel div:not(.owl-controls) {
  height: 100%;
}
.owl-carousel .owl-slide1   {
  background-image: url("img/a11y-apple-cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-slide2 {
  background-image: url("img/puzzles.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-slide3 {
  background-image: url("img/inspiration.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.owl-carousel .owl-slide4 {
  background-image: url("img/concept2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.owl-carousel .owl-slide5 {
  background-image: url("img/demo_links.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* font-family: 'sf_ui_displayregular'; */
}
/* #testing{
  position:fixed;
  top:0%;
  left:0%;
} */
/* #heading5{
  font-size:36;
  display:flex;
  justify-content:center;
  justify-items:center;
  font-family: 'sf_ui_displayregular';
} */
/* .owl-carousel .owl-slide {
  background-image: url("https://images.unsplash.com/photo-1437915015400-137312b61975?fit=crop&fm=jpg&h=800&q=80&w=1200");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */
.owl-carousel div.owl--text {
  position: absolute;
  bottom: 4em;
  left: 2em;
  width: 20em;
  height: 8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.owl-carousel div.owl--text3 {
  position: absolute;
  bottom: 4em;
  left: 2em;
  width: 40em;
  height: 8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.owl-carousel div.owl--text4 {
  position: absolute;
  bottom: 4em;
  left: 2em;
  width: 40em;
  height: 8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.owl-carousel div.owl--text5 {
  position: absolute;
  bottom: 10em;
  left: 2em;
  width: 40em;
  height: 8em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  font-weight:18pt;
}
.link{
  color: black;
  text-decoration: none;
  
}
.link2{
  color: black;
  text-decoration: none;
}
/* 
.CF, .FL{
  margin-right: 5px;
}
.IS,.IES{
  margin-left:10px;
} */
#demo-link{
  /* position:absolute;
  top:10%;
  left:30%; */
  margin-top:-200px;
  /* margin-left:300px; */
  display:flex;
  flex-direction:column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size:28pt;
  /* justify-items: left; */
}
.CF:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
.FL:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
.IS:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
.IES:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
.NO:hover{
  text-decoration: underline;
  text-decoration-color: #000;
}
p:hover{
    text-decoration: underline;
    text-decoration-color: #000;
  }
/* .CF{
  margin-left:50%;
} */
/* #demo-link2:hover{
  text-decoration: underline;
  text-decoration-color: #000;
} */
.owl-carousel .owl-controls {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.owl-carousel .owl-controls .owl-buttons div {
  position: absolute;
  top: 0;
  bottom: 0;
  display: inline-block;
  zoom: 1;
  margin: 0;
  width: 50px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  font-size: .9em;
  border-radius: 3px;
  color: #FFF;
  background: #000;
  opacity: .6;
  text-transform: capitalize;
}
.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: 5px;
}
.owl-carousel .owl-controls .owl-buttons .owl-next {
  right: 5px;
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: futura, sans-serif;
}
