

body {
    height:100%;
    margin:0;
    padding:0;
} 
body * {
    box-sizing: border-box;
}
* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  label[for] { cursor: pointer; }
 
.more-info{
    display:none;
}

  .cards {
    width: 100%;
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    height: 100%;
    background-color:#232321;
    z-index: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    padding: 60px;
    overflow: scroll;
    overflow: scroll;
    text-align: center;
    -webkit-transition: opacity .75s;
    transition: opacity .75s;
    /* justify-content: space-between; */
    justify-content: space-around;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .cards .card {
    width: 600px;
    height: 450px;
    background-size:cover;
    /* min-height: 120px; */
    display: inline-block;
    padding: 16px;
    opacity: .75;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    margin-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* justify-content: space-between; */

  }
  
  .cards .card:hover { opacity: 1; }
  /* Media Queries */
@media (max-width: 900px) {
  main .card { 
      width: calc(50% - 20px);
      height: calc(50vh - 20px);
      overflow: scroll;
  }
}

@media (max-width: 550px) {
  main .card { 
      width: calc(100% - 20px);
      height: 70vh;
      overflow: scroll;
  }
}
  
  /* @media screen and (max-width: 1024px) {
  
    .cards .card { width: 50%; }
  
  } */
  
  /* @media screen and (max-width: 480px) {
  
    .cards .card { width: 100%; }
  
  } */
  
  .card .background-image {
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  input[type="checkbox"] { display: none; }

.lightbox {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  z-index: 1;
  overflow: auto;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .75s ease-out;
  transition: transform .75s ease-out;
}

.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 96%;
  max-height: 96%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.card + .lightbox {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* .card:checked ~ .card { opacity: .125; } */



