
html, body, .grid-container { height: 100%; margin: 0; }

/* p {background-color:#bca; width:200px; border:1px solid green;}
div{ width:100px; height:100px; background:red;} */
/* .grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;

  gap: 0px 0px;
  grid-template-areas:
    "Nav Main Header";
} */
body{
    background-color: black;
}
.Main { 
  display:flex;
  flex-direction: row;
  /* justify-content: center; */
  /* justify-items: center; */
  border: 1px solid  black;
  background-color: black;
  /* background-image: url("img/sky.jpg"); */
}
#tiles{
  display:flex;
  flex-direction: row;
}
.columns{
  width: 100%;
  display:flex;
  flex-direction: row;
}
#column-1{
  width:100%;
  border: 2px solid limegreen;
  display:flex;
  flex-direction:column;
}
#column-2{
  width: 20%;
  border: 2px solid limegreen;
  display:flex;
  flex-direction:column;
}
#column-3{
  display:flex;
  width: 20%;
  border: 2px solid limegreen;
  flex-direction:column;
}
#column-4{
  display:flex;
  width: 20%;
  border: 2px solid limegreen;
  flex-direction:column;
}
#column-5{
  display:flex;
  width: 20%;
  border: 2px solid limegreen;
  flex-direction:column;
}
.box{
  height:225px;
  width:100%;
  border: black 1px solid;
}
.box1{
  height:225px;
  width:100%;
  border:black 1px solid;
  background-color: tan;
}
.box2{
  height:225px;
  width:100%;
  border:black 1px solid;
  background-color: green;
}
.box3{
  position: relative;
  height:679px;
  width:100%;
  border:black 1px solid;
  background-color: tan;
}
.box4{
  height:225px;
  width:100%;
  border:black 1px solid;
  background-color: tan;
}
.box5{
  height:225px;
  width:100%;
  border: black 1px solid;
}



/* #cloud-guy{
  /* margin-top:30px; */
/* } */ 
#toggle{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top:25px;
}

#gem{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top:25px;
}


/* ********************************************************************************************************* */
#codebot{
    position:fixed;
    top:2px;
    left:2px;
  }
/* ********************************************************************************************************* */
#sketchpadapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  /* position: relative; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  justify-content: center;
  align-items: center;
}
.leftside {

  width:65px;
  height:30px;
  /* background-color:#def; */
  padding:10px;
  border-radius:4px;
  font-family: 'Trispace', sans-serif;
  /* margin-left:15px; */
  /* margin-bottom: 750px; */
}

#sketchpad {
  position: relative;
  display: flex;
  justify-content: center;
  height:100%;
  width:100%;
  border-radius:4px;
  position:relative; /* Necessary for correct mouse co-ords in Firefox */
  cursor: pointer;
  background-color: tan;

}

#clear{
    position: fixed;
    right:10px;
    bottom:10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    /* transform: translate(-50%, -50%); */
    }
    
    
#clearbutton {
    /* width: 50%; */
    width:100px;
    height:50px;
    /* font-size: 16px; */
    -webkit-appearance: none;
    /* background:tan; */
    border-radius: 10%;
    border:2px solid lightslategray;
    font-family: 'Trispace', sans-serif;
    outline: none;
}
#vr-line{
 position: absolute;
 top:0;
 left:26%;
 /* bottom:10%; */
 height:1000px;
 border-left: 2px solid black;   
}
#vr-line2{
position: absolute;
top:0;
left:58%;
/* bottom:10%; */
height:1000px;
border-left: 2px solid black;   
}
#vr-line3{
position: absolute;
top:0;
left:42%;
/* bottom:10%; */
height:1000px;
border-left: 2px solid black;   
}
#vr-line4{
position: absolute;
top:0;
right:25.77%;
/* bottom:10%; */
height:1000px;
border-left: 2px solid black;   
}
#hr-line{
position: absolute;
top:25%;
left:5%;
/* transform: translate(-50%, -50%); */
text-decoration: underline;
width:1500px;
border-top: 2px solid black;
}

#hr-line2{
position: absolute;
top:50%;
left:5%;
/* transform: translate(-50%, -50%); */
text-decoration: underline;
width:1500px;
border-top: 2px solid black;
} 


canvas.shake {
    animation: shake 0.5s linear 1;
}
@keyframes shake {
    10%,
    90% {
    transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
    transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
    transform: translate3d(4px, 0, 0);
    }
}
canvas.shake {
    animation: shake 0.5s linear 1;
}
@keyframes shake {
    10%,
    90% {
    transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
    transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
    transform: translate3d(4px, 0, 0);
    }
}
/* ********************************************************************************************************* */
.rock-box1{
position: absolute;
top:0;
left:26%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: green;
}
.rock-box2{
position: absolute;
top:0;
left:58%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: green;
}
.rock-box{
height:225px;
width:100%;
border: black 2px solid;
display:block;
background-color: green;
}
#boulder{
display: flex;
justify-content: center;
justify-items: center;
}
#kick-rock{
display: flex;
justify-content: center;
justify-items: center;
}
#crash-button{
display: flex;
justify-content: center;
justify-items: center;

}
#crash{
display: flex;
justify-content: center;
justify-items: center;
height:20px;
width: 50px;
background-color: transparent;
border:2px solid lightslategray;
border-radius:10%;
text-decoration: none;
}

#rock:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    }
    
    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    
    @-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    }
    
    @keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    }
/* ********************************************************************************************************* */   
.sky-box1{
position: absolute;
top:0;
left:42%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box2{
position: absolute;
top:25%;
left:26%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box3{
position: absolute;
top:25%;
left:42%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box4{
position: absolute;
top:25%;
left:58%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box5{
position: absolute;
bottom:0.5%;
/* top:74.5%; */
left:9.75%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box6{
position: absolute;
bottom:0.5%;
left:26%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box7{
position: absolute;
bottom:0.5%;
left:42%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
    }
.sky-box8{
position: absolute;
bottom:0.5%;
left:58%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
    }
.sky-box9{
position: absolute;
bottom:0.5%;
right:9.55%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
        }
#sky{
display: flex;
justify-content: center;
justify-items: center;
}
#cloud-button{
display: flex;
justify-content: center;
justify-items: center;
margin-top:25px;

}
#cloud{
display: flex;
justify-content: center;
justify-items: center;
height:20px;
width: 50px;
background-color: transparent;
border:2px solid lightslategray;
border-radius: 10%;
text-decoration: none;
}
#cloud-guy{
    margin-top:10px;
}
#cloud-guy:hover {
    -webkit-animation: bounce 0.7s ease-out;
            animation: bounce 0.7s ease-out;
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25%, 45% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    90% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }



/*-------------------------------------------------------------------------------------------------- */
/* .Nav { grid-area: Nav; 
  border: 1px solid  black;}

.help{
  display: flex;
  flex-direction: row;
  float:left;
}
#siri{
  height:70px;
  width: 70px;
  display:flex;
  float:left;
  justify-items: left;
}
#speaker{
  height:40px;
  width:40px;
  position: fixed;
  top:5px;
  left:5px;
}
#action{
  display:none;
}

#siri:hover ~ #action{
  display:block;

}
#commands{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.blocks{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top:37px;

}

#swipe-right{
  display:none;
}

.blocks:hover ~ #swipe-right{
  display:block;
}

#block1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: blueviolet;
}
#block2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: yellow;
}
#block3{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: limegreen;
}
#block4{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: red;
}
#block5{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color:aqua;
}
#block_sounds{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 60px;
  width:80px;
  border: 2px solid black;
  font-family: 'Trispace', sans-serif;
  font-size:9 pt;
  color: black;
  text-align: center;
}
#move-forward{
  width:120px;
  margin-left: auto;
  margin-right: auto;
  
}
#turn-left{
  width:120px;
  margin-left: auto;
  margin-right: auto;
}

#turn-right{
  width:120px;
  margin-left: auto;
  margin-right: auto;
}

#collect-gem{
  width:120px;
  margin-left: auto;
  margin-right: auto;
}

#toggle-switch{
  width:120px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
}

#block1:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block2:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block3:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block4:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block5:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
} */
/*-------------------------------------------------------------------------------------------------- */


/*-------------------------------------------------------------------------------------------------- */
/* .Header { grid-area: Header; 
  border: 1px solid  black;}
#run-code{
  display:flex;
  flex-direction: row;
}
#run{
  float: right;
  height:50px;
  margin-right:5px;

  border-radius: 50%;

  font-family: 'Trispace', sans-serif;
  font-size:12pt;

}
.swift{
  position:fixed;
  top:0px;
  right:0px;
}
.code-blocks{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top:20px;

}
#drop{
  height: 100px;
  width:140px;
}
#block{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  overflow-y: scroll;
}
.top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#commands{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.bottom{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
h1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  font-size:16pt;
  margin-bottom:2px;
}
h2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  font-size:16pt;
  margin-top: -5px;
} */


/*-------------------------------------------------------------------------------------------------- */

/* For presentation only, no need to copy the code below */

/* .grid-container * {

  position: relative;
} */

/* .grid-container *:after { */
  /* content:attr(class); */
  /* position: absolute;
  top: 0;
  left: 0;
} */

/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .grid-container {
    grid-template-columns: 1fr;  */
    /* Show the side nav for non-mobile screens */
    /* grid-template-rows: 260px 1fr 200px;
    grid-template-areas:
      "Header"
      "Main"
      "Nav"
      ;
  };
} */

/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .code-blocks{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 10px;
  }
  .top{
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  #run-code{
    margin-right:20px;
    font-size: 12pt;
  } */
  /* #commands{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top:15px;
  }
  #block{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  h1, h2{
    font-size: 12pt;
  }
  .bottom{
    margin-top:5px;
  }
} */
/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .blocks{
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  #block1{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  #block2{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  #block3{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  #block4{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  } */
  /* #block5{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }

  #move-forward{
    height:55px;
    width:55px;
  }
  #turn-left{
    height:55px;
    width:55px;
  }
  #turn-right{
    height:55px;
    width:55px;
  }

  #collect-gem{
    height:55px;
    width:55px;
  }

  #toggle-switch{
    height:55px;
    width:55px;
  }
} */

/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .box{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  .box1{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  .box2{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  .box4{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  #rock{
    height:80px;
    width:80px;
    display:flex;
  }
  #gem{
    height:60px;
    width:60px;
  }
  #toggle{
    height:60px;
    width:60px;
  }
  .help{
    display:none;
  } */

/* }

@media only screen and (max-width: 768px) {
  #sketchpadapp{
    display:none;
  }
  .rightside{
    display:none;
  }
  .leftside{
    display:none;
  }
  #sketchpad{
    display:none;
  }
  #clearbutton{
    display:none;
  }
  .box3{
    height:325px;
    width:107px;
  }
} */