
html, body, .grid-container { height: 100%; margin: 0; }

/* p {background-color:#bca; width:200px; border:1px solid green;}
div{ width:100px; height:100px; background:red;} */
/* .grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;

  gap: 0px 0px;
  grid-template-areas:
    "Nav Main Header";
} */
/* html{
  background-color: lightskyblue;
} */
body{
 background-color:lightskyblue;
 max-height: 100%;
 overflow-y: hidden;
 overflow-x: hidden;
 
}
.Main { 
  display:flex;
  flex-direction: row;
  /* justify-content: center; */
  /* justify-items: center; */
  border: 1px solid  black;
  background-color:lightskyblue;
  /* background-image: url("img/sky.jpg"); */
}

/* ******************************************** Sidebar ************************************************************ */
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Trispace', sans-serif;
  text-shadow: 0px 0px 300px #000;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/* .navbar { */
  /* padding: 15px 10px; */
  /* background: #fff; */
  /* border: none;
  border-radius: 0;
  margin-bottom: 40px; */


  /* background-color: lightskyblue; */
  /* box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); */
/* } */
/* .navbar-default{
  background-color:lightskyblue;
} */
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  /* background-color: lightskyblue; */
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
/* .navbar-header{
  background-color:lightskyblue;
} */
/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  position:absolute;
  display: flex;
  align-items: stretch;
  /* height:100%; */
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: black;
  /* color: #fff; */
  transition: all 0.3s;
    /* height:100%; */
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 15px;
  background: black;
  color:white;
   margin-bottom:-35px;
   margin-top:-20px;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.3em;
  display: block;
  background-color: #000;
  color:white;
}
#sidebar ul li a:hover {
  color: black;
  background: #fff;
  font-weight: bold;
}
#closed-bracket{
  font-family: 'Trispace', sans-serif;
  font-size:12pt;
  color:white;
}
/* 
#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: black;
} */


a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.active,a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

#sidebarCollapse{
  background-color: black;
}
#loop-label{
  color:black;
  font-family: 'Trispace', sans-serif;
  font-size:12pt;
  /* margin-left:10px; */
}


.radio-btn input[type="radio"], .check-box input[type="checkbox"] {
  visibility: hidden;
}
/*Custom checkbox*/
.check-box {
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: inline-block;
  margin: 2px 7px 0 0;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 1px #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
  border: 1px solid #ccc;
}
.check-box i {
  background: url('http://cdn1.iconfinder.com/data/icons/mimiGlyphs/16/check_mark.png') no-repeat center center;
  position: absolute;
  left: 3px;
  bottom: -15px;
  width: 16px;
  height: 16px;
  opacity: .5;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transform:rotateZ(-180deg);
  -moz-transform:rotateZ(-180deg);
  -o-transform:rotateZ(-180deg);
  transform:rotateZ(-180deg);
}
.checkedBox {
  -moz-box-shadow: inset 0 0 5px 1px #ccc;
  -webkit-box-shadow: inset 0 0 5px 1px #ccc;
  box-shadow: inset 0 0 5px 1px #ccc;
  border-bottom-color: #fff;
}
.checkedBox i {
  bottom: 2px;
  -webkit-transform:rotateZ(0deg);
  -moz-transform:rotateZ(0deg);
  -o-transform:rotateZ(0deg);
  transform:rotateZ(0deg);
}
/*Custom radio button*/
.radio-btn {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  margin: 3px 7px 0 0;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px #ccc;
  background: rgb(255, 255, 255);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(237, 237, 237, 1)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
}
.checkedRadio {
  -moz-box-shadow: inset 0 0 5px 1px #ccc;
  -webkit-box-shadow: inset 0 0 5px 1px #ccc;
  box-shadow: inset 0 0 5px 1px #ccc;
}
.radio-btn i {
  border: 1px solid #E1E2E4;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 4px;
  top: 4px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.checkedRadio i {
  background-color: #898A8C;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */
#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}
/* ---------------------------------------------------
  RIGHT SIDE PANEL
----------------------------------------------------- */

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /* font-family: 'Trispace', sans-serif;
  color:white; */
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color:white;
  font-family: 'Trispace', sans-serif;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position:fixed;
  top:0px;
  right:0px;
  

}

.openbtn:hover {
  background-color:#444;
}

#drop-box{
  display:flex;
  flex-direction: column;
  }
  .thing {
  display:flex;
  flex-direction: row;
  width: 180px;
  height: 80px;
  /* padding: 0.5em; */
  /* margin: 5px; */
  margin-bottom:10px;
  /* background-color:red; */
  /* background: rgba(0,0,0,0.8); */
  color: black;
  font-family: 'Trispace', sans-serif;
  font-weight: bold;
  font-size:10pt;
  /* font-family: sans-serif; */
  /* border:2px solid yellow; */
 }
 #thing1{
   /* margin-left:10%; */
   background-color: lime;
   padding-top: 10px;
 }
 #thing2{
  /* margin-left:10%; */
  background-color: #8A2BE2 ;
  padding-top: 15px;
  padding-left:10px;
}
#thing3{
  /* margin-left:10%; */
  background-color: yellow;
  padding-top: 15px;
  /* padding-left:10px; */
}

#thing4{
  /* margin-left:10%; */
  background-color: red;
  padding-top: 15px;
  padding-left:10px;
}
#thing5{
  /* margin-left:10%; */
  background-color:aqua;
  padding-top: 15px;
  padding-left:10px;
}
  .moving{
    height:40px;
    width:30px;
  }

  /* .gem{
    height:50px;
    width:50px; */
    /* margin-top:70px; */
  /* } */
  .col {
  display:flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  padding: 7px;
  /* border: 1px solid; */
  border-radius: 5px;
  position: relative;
  float: left;
  }
  #drop-container{
  display:flex;
  flex-direction: column;
  margin-left:25px;
  margin-top:15px;
  margin-bottom:10pox;
  }
  #col2, #col3, #col4, #col5{
    border: 2px solid yellow;
    height:100px;
    width:200px;
    margin-bottom:15px;

  }
  #closed-bracket{
    font-size:14pt;
    font-family:'Trispace', sans-serif;
  }


/* ---------------------------------------------------
LEFT SIDE PANEL
----------------------------------------------------- */
  .sidepanel-left  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel-left a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel-left a:hover {
    color: #f1f1f1;
  }
  
  .sidepanel-left .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }
 #lname{
   background-color: yellow;
   color:black;
 }
 #submit{
  width:100px;
 }
/* ************************************************ Sketchpad & Co. ***************************************************** */
#sketchpadapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  /* position: relative; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  justify-content: center;
  align-items: center;
}
.leftside {

  width:65px;
  height:30px;
  /* background-color:#def; */
  padding:10px;
  border-radius:4px;
  font-family: 'Trispace', sans-serif;
  /* margin-left:15px; */
  /* margin-bottom: 750px; */
}

#sketchpad {
  position: relative;
  display: flex;
  justify-content: center;
  height:100%;
  width:100%;
  border-radius:4px;
  position:relative; /* Necessary for correct mouse co-ords in Firefox */
  cursor: pointer;
  background-color: tan;
  cursor:url('img/apple-cursor.png'), pointer;

}
#reset{
  height:50px;
  width:50px;
  position: absolute;
  bottom: 20px;
  right:185px;
  background-color: lightcyan;
  border-radius:20%;
}
#reset-button{
  height:40px;
  width:40px;
}
#playground:hover{
-webkit-transform:scale(1.3);
transform:scale(1.3);
}
#link:hover{
  filter: contrast(1.4) saturate(1.8) sepia(.6);
    -webkit-filter: contrast(1.4) saturate(1.8) sepia(.6);
}
#reset:hover,
#clear:hover,
#codebot:hover
{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}
#clear{
    position: absolute;
    right:20px;
    bottom:20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border: solid 2px black;
    border-radius:20%;
    width:150px;
    height:80px;
    /* transform: translate(-50%, -50%); */
    }
/* #eraser{
  display: flex;
  justify-content: center;
  justify-items: center;
}     */
    
#clearbutton {
    /* width: 50%; */
    width:140px;
    height:80px;
    /* font-size: 16px; */
    -webkit-appearance: none;
    /* background:tan; */
    border-radius: 10%;
    border:2px solid lightslategray;
    font-family: 'Trispace', sans-serif;
    outline: none;
}



canvas.shake {
    animation: shake 0.5s linear 1;
}
@keyframes shake {
    10%,
    90% {
    transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
    transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
    transform: translate3d(4px, 0, 0);
    }
}
canvas.shake {
    animation: shake 0.5s linear 1;
}
@keyframes shake {
    10%,
    90% {
    transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
    transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
    transform: translate3d(4px, 0, 0);
    }
}


/* ******************************************************* Lines/Panels ************************************************** */
#vr-line{
  position: absolute;
  top:0;
  left:20%;
  /* bottom:10%; */
  height:800px;
  border-left: 2px solid black;   
  }
#vr-line2{
  position: absolute;
  top:0;
  left:35%;
  /* bottom:10%; */
  height:800px;
  border-left: 2px solid black;   
  }
#vr-line3{
  position: absolute;
  top:0;
  left:50%; 
  /* bottom:10%;  */
  height:800px;
  border-left: 2px solid black;   
  }
#vr-line4{
  position: absolute;
  top:0;
  left:65%;
  /* bottom:10%; */
  height:800px;
  border-left: 2px solid black;   
  }
#vr-line5{
  position: absolute;
  top:0;
  left:80%;
  /* bottom:10%; */
  height:800px;
  border-left: 2px solid black;  
  }
#hr-line{
  position: absolute;
  top:15%;
  left:0%;
  /* transform: translate(-50%, -50%); */
  text-decoration: underline;
  width:100%;
  border-top: 2px solid black;
  border-bottom: 25px lightskyblue solid;
  }
#hr-line2{
  position: absolute;
  top:33%;
  left:0%;
  /* transform: translate(-50%, -50%); */
  text-decoration: underline;
  width:100%;
  border-top: 2px solid black;
  border-bottom: 25px solid lightskyblue;
  }

#hr-line3{
  position: absolute;
  top:51%;
  left:0%;
  /* transform: translate(-50%, -50%); */
  text-decoration: underline;
  width:100%;
  border-top: 2px solid black;
  border-bottom: 25px solid lightskyblue;
  }

#hr-line4{
  position: absolute;
  top:69%;
  left:0%;
  /* transform: translate(-50%, -50%); */
  text-decoration: underline;
  width:100%;
  border-top: 2px solid black;
  border-bottom: 25px solid lightskyblue;
  }

#hr-line5{
  position: absolute;
  top:87%;
  left:0%;
  /* transform: translate(-50%, -50%); */
  text-decoration: underline;
  width:100%;
  /* border-top: 2px solid black; */
  border-bottom: 70px solid lightskyblue;
  }
  .sky-panel{
    position: absolute;
    top:0%;
    left:0%;
    height:100%;
    width:20%;
    background-color: lightskyblue;
  } 
  .sky-panel2{
    position: absolute;
    top:0%;
    left:80.25%;
    height:100%;
    width:20%;
    background-color: lightskyblue;
  }
  .sky-panel3{
    position:absolute;
    top:90%;
    left:0%;
    height:250px;
    width:100%;
    background-color: lightskyblue;
  }
/* ********************************************************** Row 1 ***************************************************** */



#red-sp1,
#red-sp2,
#red-sp3,
#red-sp4,
#red-sp5{
margin-top:3px;
/* margin-left:-15px; */
height:90px;
width:60px;
}

.collect_gem:hover,
.collect_gem2:hover,
.collect_gem3:hover,
.collect_gem4:hover,
.collect_gem5:hover     {
  -webkit-animation: pulse 0.7s ease-out;
          animation: pulse 0.7s ease-out;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40%, 70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40%, 70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


#portal-sp,
#portal-sp3,
#portal-sp4,
#portal-sp5,
#portal-sp6,
#portal-sp7,
#portal-sp8,
#portal-sp9,
#portal-sp10
{
  height:100px;
  width:100px;
}

#sw,#cg,#sp{
  /* display:none; */
  justify-content: center;
  justify-items: center;
  height:35px;
  width: 35px;
  background-color: transparent;
  border:2px transparent;
  border-radius:10%;
  text-decoration: none;
  font-family: 'Trispace', sans-serif;
}
#cg{
  margin-left:-20px;
}
#sp{
  height:30px;
  width:30px;
}


.toggle_switch:hover ,
.toggle_switch2:hover ,
.toggle_switch3:hover ,
.toggle_switch4:hover ,
.toggle_switch5:hover,
.toggle_switch6:hover ,
.toggle_switch7:hover ,
.toggle_switch8:hover ,
.toggle_switch9:hover ,
.toggle_switch10:hover  {
  -webkit-animation: swing 0.5s ease-out;
          animation: swing 0.5s ease-out;
}

@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes swing {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  40% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*  */

/* collect_gems  */

.collect_gem{
  position: absolute;
  top:0%;
  left:47.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black;  */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.collect_gem2{
  position: absolute;
  top:18%;
  left:47.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black;  */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}



.collect_gem3{
  position: absolute;
  top:36%;
  left:47.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.collect_gem4{
  position: absolute;
  top:54%;
  left:47.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.collect_gem5{
  position: absolute;
  top:72%;
  left:47.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

/*  */

/* toggle_switches */
.toggle_switch{
  position: absolute;
  top:0%;
  left:75%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}
.toggle_switch3{
  position: absolute;
  top:18%;
  left:20.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.toggle_switch4{
  position: absolute;
  top:18%;
  left:75%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.toggle_switch5{
  position: absolute;
  top:36%;
  left:20.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.toggle_switch6{
  position: absolute;
  top:36%;
  left:75%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.toggle_switch7{
  position: absolute;
  top:54%;
  left:20.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.toggle_switch8{
  position: absolute;
  top:54%;
  left:75%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.toggle_switch9{
  position: absolute;
  top:72%;
  left:20.5%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

.toggle_switch10{
  position: absolute;
  top:72%;
  left:75%;
  height:15%;
  width:5%;
  /* border:solid 2px black; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
}

/*  */

/* loop-counts */

#loop-count1{
  position: absolute;
  top:5%;
  left:81.5%;
  font-family: 'Trispace', sans-serif;
  font-size:14pt;

}
.checkmark1{
  position: absolute;
  top:8.75%;
  left:81.5%;
  display:flex;
  flex-direction:row;
}
input[type=checkbox]{
  width:50px;
  height:50px;
  /* background-color: tan; */
}

#loop-count2{
  position: absolute;
  top:23%;
  left:81.5%;
  font-family: 'Trispace', sans-serif;
  font-size:14pt;
  color:black;

}
.checkmark2{
  position: absolute;
  top:27%;
  left:81.5%;
  display:flex;
  flex-direction:row;
}

#loop-count3{
  position: absolute;
  top:41%;
  left:81.5%;
  font-family: 'Trispace', sans-serif;
  font-size:14pt;
  color:black;

}
.checkmark3{
  position: absolute;
  top:45%;
  left:81.5%;
  display:flex;
  flex-direction:row;
}

#loop-count4{
  position: absolute;
  top:59%;
  left:81.5%;
  font-family: 'Trispace', sans-serif;
  font-size:14pt;
  color:black;

}
.checkmark4{
  position: absolute;
  top:63%;
  left:81.5%;
  display:flex;
  flex-direction:row;
}

#loop-count5{
  position: absolute;
  top:77%;
  left:81.5%;
  font-family: 'Trispace', sans-serif;
  font-size:14pt;
  color:black;

}
.checkmark5{
  position: absolute;
  top:81%;
  left:81.5%;
  display:flex;
  flex-direction:row;
}
#loop-count1:hover,
#loop-count2:hover,
#loop-count3:hover,
#loop-count4:hover,
#loop-count5:hover{
  -webkit-transform:scale(1.3);
  transform:scale(1.3);
}


/* Code Blocks */
#code1-1{
  height:40px;
  width:180px;
  font-family:'Trispace', sans-serif;
  font-size: 12pt;
  color:black;
  background-color: white;
  margin-top:5px;
  margin-bottom:20px;
}
#code1-2, #code1-3, #code2-2, #code2-3, #code3-1, #code3-2, #code3-3{
  height:40px;
  width:180px;
  font-family:'Trispace', sans-serif;
  font-size: 12pt;
  color:black;
  background-color: white;
  margin-bottom:20px;
}
#code2-1{
  height:40px;
  width:180px;
  font-family:'Trispace', sans-serif;
  font-size: 12pt;
  color:black;
  background-color: white;
}
/*  */
#playground, #hey-codebot{
  height:60px;
  width:60px;
}
  #hey-codebot{
    /* height:70px;
    width:70px; */
    margin-left:30px;
  }
  #playground{
    height:40px;
    width:40px;
    margin-top:3px;
  }
  
  #link{
    position:absolute;
    left:10%;
    top:1%;
    /* border:black 2px solid; */
    /* display: flex;
    flex-direction: row; */
  }
  #codebot{
    position:absolute;
    left:12%;
    top:0.55%;
    display: flex;
    flex-direction: row;
  }
  .box{
    position:absolute;
    left:50%;
    top:90%;
    height:70px;
    width:70px;
    border:solid black 2px;
  }
  #loop{
    display:inline-block;
  /* position:absolute; */
  /* top:90%;
  left:17%; */
  }
  #loop2{
  position:absolute;
  top:90%;
  left:24%;
  }
  #loop3{
  position:absolute;
  top:90%;
  left:31%;
  }
  #loop4{
  position:absolute;
  top:90%;
  left:38%;
  }
  #loop5{
  position:absolute;
  top:90%;
  left:45%;
  }
  #loop6{
  position:absolute;
  top:90%;
  left:52%;
  }
  #loop7{
  position:absolute;
  top:90%;
  left:59%;
  }
  #loop8{
  position:absolute;
  top:90%;
  left:66%;
  }
  #loop9{
  position:absolute;
  top:90%;
  left:73%;
  }
  #loop10{
  position:absolute;
  top:90%;
  left:80%;
  }
button{
    color:black;
  }


  


/* ********************************************************************************************************* */   

  #cloud-sp{
    height:50px;
    width:70px;
  }
  #cloudy{
    height:160px;
    width:230px;
    margin-left:2px;
    position:relative;
  }
  #mini-cloud{
    height:110px;
    width:170px;
    margin-left:2px;
    position:relative;
  }
  .sky-1{
    position: absolute;
    top:11%;
    left:70px;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }
  .sky-2{
    position: absolute;
    top:30%;
    left:70px;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }

  .sky-3{
    position: absolute;
    top:49%;
    left:70px;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }
  .sky-8{
    position: absolute;
    top:68%;
    left:70px;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }
  .sky-4{
    position: absolute;
    top:11%;
    left:89%;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }
  .sky-5{
    position: absolute;
    top:30%;
    left:89%;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }

  .sky-6{
    position: absolute;
    top:49%;
    left:89%;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }
  .sky-7{
    position: absolute;
    top:68%;
    left:89%;
    height:15%;
    width:10%;
    /* border: black 2px solid; */
    display:block;
    background-color: lightskyblue;
    }
  
  .sky-1:hover,
  .sky-2:hover,
  .sky-3:hover,
  .sky-4:hover,
  .sky-5:hover,
  .sky-6:hover,
  .sky-7:hover,
  .sky-8:hover
    {
    -webkit-animation: bounce 0.7s ease-out;
            animation: bounce 0.7s ease-out;
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25%, 45% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    90% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  
/* ********************************************************************************************************* */   

/* Media Query */
@media (max-width: 768px) {
  body{
    background-color:lightskyblue;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  .rightside{
    width:200%;
    height:800px;
   }
   .toggle_switch, 
   .toggle_switch2,   
   .toggle_switch3, 
   .toggle_switch4,
   .toggle_switch5, 
   .toggle_switch6,
   .toggle_switch7, 
   .toggle_switch8,
   .toggle_switch9,
   .toggle_switch10{
     width:10%;
     /* left:70%; */
   }
   .toggle_switch10,
   .toggle_switch8,
   .toggle_switch6,
   .toggle_switch4,
   .toggle_switch2,
   .toggle_switch
   {
     left:70%;
   }
   .toggle_switch9,
   .toggle_switch7,
   .toggle_switch5,
   .toggle_switch3
   /* .toggle_switch2,
   .toggle_switch */
   {
     left:13%;
   }
   #portal-sp,
   #portal-sp3,
   #portal-sp4,
   #portal-sp5,
   #portal-sp6,
   #portal-sp7,
   #portal-sp8,
   #portal-sp9,
   #portal-sp10{
     height:80px;
     width:80px;
   }
   .collect_gem,
   .collect_gem2,
   .collect_gem3,
   .collect_gem4,
   .collect_gem5
   {
     left:44%;
   }
   #red-sp1,
   #red-sp2,
   #red-sp3,
   #red-sp4,
   #red-sp5{
    height:70px;
    width:50px;
  }
   .sky-1,
   .sky-2,
   .sky-3,
   .sky-4,
   .sky-5, 
   .sky-6,
   .sky-7,
   .sky-8{
     display:none;
   }
   #loop-count1,
   #loop-count2,
   #loop-count3,
   #loop-count4,
   #loop-count5{
     display:none;
   }
/* #hr-line,
#hr-line2,
#hr-line3,
#hr-line4,
#hr-line5
.sky-panel2{
display:none;

} */
.sky-panel{
position:absolute;
top:0%;
left:0%;
height:800px;
width:10px;
width:10px;
border-right:lightskyblue solid 90px; 
}
#link{
  position:fixed;
  top:6%;
  left:92%;
}
#hey-codebot{
  height:60px;
  width:60px;
}
#codebot{
  position: absolute;;
  top:90%;
  left:70px;
}


   }