
html, body, .grid-container { height: 100%; margin: 0; }

/* p {background-color:#bca; width:200px; border:1px solid green;}
div{ width:100px; height:100px; background:red;} */
/* .grid-container {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;

  gap: 0px 0px;
  grid-template-areas:
    "Nav Main Header";
} */
body{
 background-color: black;
}
.Main { 
  display:flex;
  flex-direction: row;
  /* justify-content: center; */
  /* justify-items: center; */
  border: 1px solid  black;
  background-color:lightskyblue;
  /* background-image: url("img/sky.jpg"); */
}
#tiles{
  display:flex;
  flex-direction: row;
}
.columns{
  width: 100%;
  display:flex;
  flex-direction: row;
}
#column-1{
  width:100%;
  border: 2px solid limegreen;
  display:flex;
  flex-direction:column;
}
/* #column-2{
  width: 20%;
  border: 2px solid limegreen;
  display:flex;
  flex-direction:column;
}
#column-3{
  display:flex;
  width: 20%;
  border: 2px solid limegreen;
  flex-direction:column;
} */
/* #column-4{
  display:flex;
  width: 20%;
  border: 2px solid limegreen;
  flex-direction:column;
}
#column-5{
  display:flex;
  width: 20%;
  border: 2px solid limegreen;
  flex-direction:column;
} */
/* .box{
  height:225px;
  width:100%;
  border: black 1px solid;
}
.box1{
  height:225px;
  width:100%;
  border:black 1px solid;
  background-color: tan;
}
.box2{
  height:225px;
  width:100%;
  border:black 1px solid;
  background-color: green;
}
.box3{
  position: relative;
  height:679px;
  width:100%;
  border:black 1px solid;
  background-color: tan;
}
.box4{
  height:225px;
  width:100%;
  border:black 1px solid;
  background-color: tan;
}
.box5{
  height:225px;
  width:100%;
  border: black 1px solid;
} */



/* #cloud-guy{
  /* margin-top:30px; */
/* } */ 
#toggle{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top:25px;
}

#gem{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top:25px;
}


/* ********************************************************************************************************* */
#codebot{
  position: absolute;
  left:70px;
  top:0px;
  height:70px;
  }
.pulldown1{
  position:fixed;
  top:20px;
  left:2px;
  width:100px;
  border-radius:10px;
  /* border:2px solid lightslategray; */
}

.pulldown2{
  position:fixed;
  top:2px;
  right:80px;
  width:100px;
  border-radius:10px;

} 
#commands{
  display:flex;
  justify-content:center;
  justify-items: center;
}
#func{
  display:flex;
  justify-content:center;
  justify-items: center;
}
/* #command-bar{
  
} */
#two-finger1{
  display:none;
  font-family: 'Trispace', sans-serif;
}
#two-finger2{
  display:none;
  font-family: 'Trispace', sans-serif;
}
/* h1{ */
  /* font-family: 'Trispace', sans-serif;
  font-size:16pt;
  display:flex;
  justify-content:right;
  justify-items: right;
  background-color: white; */
/* } */
.options{
  display: flex;
  flex-direction: row;
  
}
/* .go-back{
  position:fixed;
  top:2px;
  left:250px;
  font: "sf_ui_displayregular";
  font-size: 18pt;
  color:black;
  text-decoration: none;
}
#back{
  position:absolute;
  top:2px;
  left:200px;
  font: "sf_ui_displayregular";
  font-size: 18pt;
  color:black;
  text-decoration: none;
} */
#haptic-feedback{
  display:none;
  width:500px;
}
#haptic-tech:hover~#haptic-feedback{
  display:block;
  font-family: 'Trispace', sans-serif;
  background-color: white;
  font-size:10pt;
  width:400px;
}

.haptics:hover~#haptic-feedback{
  display:block;
  font-family: 'Trispace', sans-serif;
  background-color: white;
  font-size:10pt;
  width:400px;
}

/* #back{ */
  /* position: absolute;
  left:5%;
  bottom:6%;
  font-family: 'sf_ui_displayregular';
  color:black; */

/* } */
/* .go-back{ */
  /* position: fixed;
  left:5%;
  bottom:6%;
  font-family: 'sf_ui_displayregular';
  color:black; */

/* } */
.options2{
  display:flex;
  flex-direction: column;
}

.option1{
  font-size:9pt;
  color:black;
  text-decoration:none;
}
#swipe-right{
  height:40px;
  width: 35px;
}
#commands:hover ~#two-finger1{
  display:block;
  font-family: 'Trispace', sans-serif;
  background-color: black;
  width: 180px;
}
#text{
  color:blue;
  font-style: bold;
}
#func:hover ~#two-finger2{
  display:block;
  font-family: 'Trispace', sans-serif;
  background-color: black;
  width: 155px;
}
/* ********************************************************************************************************* */
#sketchpadapp {
  /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
  /* position: relative; */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: grid;
  justify-content: center;
  align-items: center;
}
.leftside {

  width:65px;
  height:30px;
  /* background-color:#def; */
  padding:10px;
  border-radius:4px;
  font-family: 'Trispace', sans-serif;
  /* margin-left:15px; */
  /* margin-bottom: 750px; */
}

#sketchpad {
  position: relative;
  display: flex;
  justify-content: center;
  height:100%;
  width:100%;
  border-radius:4px;
  position:relative; /* Necessary for correct mouse co-ords in Firefox */
  cursor: pointer;
  background-color: tan;

}
#clear:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}
#clear{
    position: absolute;
    right:70px;
    bottom:70px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border: solid 2px black;
    border-radius:20%;
    width:170px;
    height:80px;
    /* transform: translate(-50%, -50%); */
    }
/* #eraser{
  display: flex;
  justify-content: center;
  justify-items: center;
}     */
    
#clearbutton {
    /* width: 50%; */
    width:170px;
    height:80px;
    /* font-size: 16px; */
    -webkit-appearance: none;
    /* background:tan; */
    border-radius: 10%;
    border:2px solid lightslategray;
    font-family: 'Trispace', sans-serif;
    outline: none;
}
#vr-line{
 position: absolute;
 top:0;
 left:20%;
 /* bottom:10%; */
 height:1000px;
 border-left: 2px solid black;   
}
#vr-line2{
position: absolute;
top:0;
left:40%;
/* bottom:10%; */
height:1000px;
border-left: 2px solid black;   
}
#vr-line3{
position: absolute;
top:0;
left:60%; 
/* bottom:10%;  */
height:1000px;
border-left: 2px solid black;   
}
#vr-line4{
position: absolute;
top:0;
left:80%;
/* bottom:10%; */
height:100%;
border-left: 2px solid black;   
}
#hr-line{
position: absolute;
top:25%;
left:0%;
/* transform: translate(-50%, -50%); */
text-decoration: underline;
width:100%;
border-top: 2px solid black;
}

#hr-line2{
position: absolute;
top:50%;
left:0%;
/* transform: translate(-50%, -50%); */
text-decoration: underline;
width:100%;
border-top: 2px solid black;
} 

#hr-line3{
  position: absolute;
  top:75%;
  left:0%;
  /* transform: translate(-50%, -50%); */
  text-decoration: underline;
  width:100%;
  border-top: 2px solid black;
  } 


canvas.shake {
    animation: shake 0.5s linear 1;
}
@keyframes shake {
    10%,
    90% {
    transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
    transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
    transform: translate3d(4px, 0, 0);
    }
}
canvas.shake {
    animation: shake 0.5s linear 1;
}
@keyframes shake {
    10%,
    90% {
    transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
    transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
    transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
    transform: translate3d(4px, 0, 0);
    }
}
/* ********************************************************************************************************* */
.rock-box1{
position: absolute;
top:0;
left:20%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: green;
}
.rock-box2{
position: absolute;
top:0;
left:60%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: green;
}
/* .rock-box{
height:225px;
width:100%;
border: black 2px solid;
display:block;
background-color: green;
} */
#boulder{
display: flex;
justify-content: center;
justify-items: center;
margin-top: -10px;
}
#kick-rock{
display: flex;
justify-content: center;
justify-items: center;
}
#crash-button{
display: flex;
justify-content: center;
justify-items: center;
margin-top:-17px;

}
#crash{
display: flex;
justify-content: center;
justify-items: center;
height:40px;
width: 80px;
background-color: transparent;
border:2px solid black;
border-radius:10%;
text-decoration: none;
font-family: 'Trispace', sans-serif;
}

#rock:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
    
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
    }
    
    @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
    }
    
    @-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    }
    
    @keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }
    
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }
    
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }
    
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }
    
    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    }
/* ********************************************************************************************************* */   
.sky-box1{
position: absolute;
top:0;
left:40%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box2{
position: absolute;
top:25%;
left:20%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box3{
position: absolute;
top:25%;
left:40%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box4{
position: absolute;
top:25%;
left:60%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box5{
position: absolute;
top:75%;
/* top:74.5%; */
left:20%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box6{
position: absolute;
top:75%;
left:40%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
}
.sky-box7{
position: absolute;
top:75%;
left:60%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
    }
.sky-box-mini-l{
position: absolute;
top:75%;
left:0%;
height:225px;
width:20%;
border: black 2px solid;
display:block;
background-color: lightskyblue;
    }
.sky-box-mini-r{
  position: absolute;
  top:75%;
  left:80%;
  height:225px;
  width:20%;
  border: black 2px solid;
  display:block;
  background-color: lightskyblue;
      }
/* .sky-box9{
position: absolute;
bottom:0.5%;
right:9.55%;
height:225px;
width:260px;;
border: black 2px solid;
display:block;
background-color: lightskyblue;
        } */
#sky{
display: flex;
justify-content: center;
justify-items: center;
}
#cloud-button{
display: flex;
justify-content: center;
justify-items: center;
margin-top:5px;

}
#cloud-button-1{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top:-27px;
  
  }
#cloud-button-mini{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top:27.5px;
  
  }
#cloud{
display: flex;
justify-content: center;
justify-items: center;
height:40px;
width: 80px;
background-color: transparent;
border:2px solid black;
border-radius:10%;
text-decoration: none;
font-family: 'Trispace', sans-serif;

/* height:20px;
width: 50px;
background-color: transparent;
border:2px solid lightslategray;
border-radius: 10%;
text-decoration: none; */
}
#cloud-guy{
    margin-top:10px;
    
}

#cloud-guy-mini{
  margin-top:10px;
}

#cloud-guy:hover {
    -webkit-animation: bounce 0.7s ease-out;
            animation: bounce 0.7s ease-out;
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25%, 45% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    90% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }

  #cloud-guy-mini:hover {
    -webkit-animation: bounce 0.7s ease-out;
            animation: bounce 0.7s ease-out;
  }
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    25%, 45% {
      -webkit-transform: translateY(-15px);
              transform: translateY(-15px);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    70% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    80% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    90% {
      -webkit-transform: translateY(-8px);
              transform: translateY(-8px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
/* ********************************************************************************************************* */   
#collect-gem{
  position: absolute;
  top:65%;
  left:50%;
  transform: translate(-50%, -50%);
  height:180px;
  width:20%;
}
.gem{
  margin-top:
  -40px;
}

#gem-button{
display: flex;
justify-content: center;
justify-items: center;
/* margin-top:10px; */
margin-top:20px;
margin-bottom:15px;
}
#collect{
display:absolute;
top:70%;
left:80%;
justify-content: center;
justify-items: center;
height:40px;
width: 80px;
background-color: transparent;
border:2px solid black;
border-radius:10%;
text-decoration: none;
font-family: 'Trispace', sans-serif;
/* height:20px;
width: 50px;
background-color: transparent;
border:2px solid lightslategray;
border-radius: 10%;
text-decoration: none; */
}
.gem:hover {
  -webkit-animation: pulse 0.7s ease-out;
          animation: pulse 0.7s ease-out;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40%, 70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40%, 70% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* ********************************************************************************************************* */   
#toggle-switch{
  position: absolute;
  top:10%;
  left:86%;
  transform: translate(-50%, -50%);
}
.toggle{
  margin-top:40px;
}
#switch{
  display:absolute;
  top:20%;
  left:86%;
  justify-content: center;
  justify-items: center;
  height:40px;
  width: 80px;
  background-color: transparent;
  border:2px solid black;
  border-radius:10%;
  text-decoration: none;
  font-family: 'Trispace', sans-serif;
  /* height:20px;
  width: 50px;
  background-color: transparent;
  border:2px solid lightslategray;
  border-radius: 10%;
  text-decoration: none; */
  }
#toggle-switch-button{
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-bottom: 15px;
  }

  #toggle-switch2{
    position: absolute;
    top:60%;
    left:86%;
    transform: translate(-50%, -50%);
  }
  .toggle2{
    margin-top:60px;
  }
  #switch2{
    display:absolute;
    top:70%;
    left:86%;
    justify-content: center;
    justify-items: center;
    height:40px;
    width: 80px;
    background-color: transparent;
    border:2px solid black;
    border-radius:10%;
    text-decoration: none;
    font-family: 'Trispace', sans-serif;
    /* height:20px;
    width: 50px;
    background-color: transparent;
    border:2px solid lightslategray;
    border-radius: 10%;
    text-decoration: none; */
    }
  #toggle-switch-button2{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-bottom:15px;
    }
    .toggle:hover {
      -webkit-animation: swing 0.5s ease-out;
              animation: swing 0.5s ease-out;
    }
    
    @-webkit-keyframes swing {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      20% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      40% {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
      }
      60% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      80% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
    }
    
    @keyframes swing {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      20% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      40% {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
      }
      60% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      80% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
    }

    .toggle2:hover {
      -webkit-animation: swing 0.5s ease-out;
              animation: swing 0.5s ease-out;
    }
    
    @-webkit-keyframes swing {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      20% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      40% {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
      }
      60% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      80% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
    }
    
    @keyframes swing {
      0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      20% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      40% {
        -webkit-transform: rotate(-20deg);
                transform: rotate(-20deg);
      }
      60% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
      80% {
        -webkit-transform: rotate(20deg);
                transform: rotate(20deg);
      }
      100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
      }
    }
/* ********************************************************************************************************* */   
/* .Nav { grid-area: Nav; 
  border: 1px solid  black;}

.help{
  display: flex;
  flex-direction: row;
  float:left;
}
#siri{
  height:70px;
  width: 70px;
  display:flex;
  float:left;
  justify-items: left;
}
#speaker{
  height:40px;
  width:40px;
  position: fixed;
  top:5px;
  left:5px;
}
#action{
  display:none;
}

#siri:hover ~ #action{
  display:block;

}
#commands{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.blocks{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top:37px;

}

#swipe-right{
  display:none;
}

.blocks:hover ~ #swipe-right{
  display:block;
}

#block1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: blueviolet;
}
#block2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: yellow;
}
#block3{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: limegreen;
}
#block4{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color: red;
}
#block5{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  background-color:aqua;
}
#block_sounds{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 60px;
  width:80px;
  border: 2px solid black;
  font-family: 'Trispace', sans-serif;
  font-size:9 pt;
  color: black;
  text-align: center;
}
#move-forward{
  width:120px;
  margin-left: auto;
  margin-right: auto;
  
}
#turn-left{
  width:120px;
  margin-left: auto;
  margin-right: auto;
}

#turn-right{
  width:120px;
  margin-left: auto;
  margin-right: auto;
}

#collect-gem{
  width:120px;
  margin-left: auto;
  margin-right: auto;
}

#toggle-switch{
  width:120px;
  height:100px;
  margin-left: auto;
  margin-right: auto;
}

#block1:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block2:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block3:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block4:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
}

#block5:hover{
  -webkit-transform:scale(1.3);
transform:scale(1.3);
} */
/*-------------------------------------------------------------------------------------------------- */


/*-------------------------------------------------------------------------------------------------- */
/* .Header { grid-area: Header; 
  border: 1px solid  black;}
#run-code{
  display:flex;
  flex-direction: row;
}
#run{
  float: right;
  height:50px;
  margin-right:5px;

  border-radius: 50%;

  font-family: 'Trispace', sans-serif;
  font-size:12pt;

}
.swift{
  position:fixed;
  top:0px;
  right:0px;
}
.code-blocks{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top:20px;

}
#drop{
  height: 100px;
  width:140px;
}
#block{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 100px;
  width:140px;
  border: 2px solid black;
  padding:10px;
  margin:10px;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  overflow-y: scroll;
}
.top{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
#commands{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.bottom{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
h1{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  font-size:16pt;
  margin-bottom:2px;
}
h2{
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  font-family: 'Trispace', sans-serif;
  color: black;
  text-align: center;
  font-size:16pt;
  margin-top: -5px;
} */


/*-------------------------------------------------------------------------------------------------- */

/* For presentation only, no need to copy the code below */

/* .grid-container * {

  position: relative;
} */

/* .grid-container *:after { */
  /* content:attr(class); */
  /* position: absolute;
  top: 0;
  left: 0;
} */

/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .grid-container {
    grid-template-columns: 1fr;  */
    /* Show the side nav for non-mobile screens */
    /* grid-template-rows: 260px 1fr 200px;
    grid-template-areas:
      "Header"
      "Main"
      "Nav"
      ;
  };
} */

/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .code-blocks{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 10px;
  }
  .top{
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  #run-code{
    margin-right:20px;
    font-size: 12pt;
  } */
  /* #commands{
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-top:15px;
  }
  #block{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  h1, h2{
    font-size: 12pt;
  }
  .bottom{
    margin-top:5px;
  }
} */
/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .blocks{
    display: flex;
    flex-direction: row;
    justify-items: center;
  }
  #block1{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  #block2{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  #block3{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }
  #block4{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  } */
  /* #block5{
    justify-content: center;
    width:50px;
    height:50px;
    margin-top:0px;
    font-size:7pt;
  }

  #move-forward{
    height:55px;
    width:55px;
  }
  #turn-left{
    height:55px;
    width:55px;
  }
  #turn-right{
    height:55px;
    width:55px;
  }

  #collect-gem{
    height:55px;
    width:55px;
  }

  #toggle-switch{
    height:55px;
    width:55px;
  }
} */

/* @media only screen and (max-width: 768px) { */
  /* Show the sidenav */
  /* .box{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  .box1{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  .box2{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  .box4{
    height:107px;
    width:107px;
    border:black 1px solid;
  }
  #rock{
    height:80px;
    width:80px;
    display:flex;
  }
  #gem{
    height:60px;
    width:60px;
  }
  #toggle{
    height:60px;
    width:60px;
  }
  .help{
    display:none;
  } */

/* }

@media only screen and (max-width: 768px) {
  #sketchpadapp{
    display:none;
  }
  .rightside{
    display:none;
  }
  .leftside{
    display:none;
  }
  #sketchpad{
    display:none;
  }
  #clearbutton{
    display:none;
  }
  .box3{
    height:325px;
    width:107px;
  }
} */